/* Container and heading */
.container {
  max-width: var(--max-width);
  width: 100%;
}

.heading {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Category filter buttons */
.filters {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  margin-top: 30px;
}

.filters button
{
  opacity: 0.7;
}

.filters button.active {
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  width: 100%;
}

.card {
  aspect-ratio: 16 / 9; /* or 4 / 3 if you prefer */
  overflow: hidden;
  border: 1px solid var(--container-border-colour);
  display: flex;
  cursor: pointer;
  background: none;
  padding: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  border-radius: var(--border-radius);
}

.image:hover {
  transform: scale(1.1);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  width: 100%;
  margin-top: 3rem;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


/* Responsive for small screens */
@media (max-width: 600px) {
  .card {
    width: 100%;
    max-width: 300px;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: grid;
  place-items: center;
  z-index: 1000;

  animation: fadeIn 0.25s ease;
}

.overlayImage {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: var(--border-radius);
  animation: scaleIn 0.25s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Close button */
.close {
  position: fixed;
  top: 20px;
  right: 24px;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.close:hover {
  opacity: 1;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.96); }
  to { transform: scale(1); }
}
