/* Container and heading */
.container {
  max-width: var(--max-width);
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

/* Category filter buttons */
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.filters button
{
  opacity: 0.7;
}

.filters button.active {
  opacity: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  width: 100%;
}

.card {
  aspect-ratio: 16 / 9; /* or 4 / 3 if you prefer */
  overflow: hidden;
  border: 1px solid var(--container-border-colour);
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.1);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 3rem;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


/* Responsive for small screens */
@media (max-width: 600px) {
  .card {
    width: 100%;
    max-width: 300px;
  }

  .filters {
    flex-direction: column;
    align-items: center;
  }
}
