.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
}

.mlhBanner
{
  position: absolute;
  top: -50px;
  width: 130px;
  left: 50;
  z-index: 3;
}

.pageTitle
{
    text-align: end;
    margin-bottom: 1rem;
}

.pageDescription
{
    font-size: 1rem;
    color: black;
    text-align: start;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 30px;
}

.upComingEvent
{
  position: relative;
  max-width: var(--max-width);
}

.loading,
.error,
.noEvents {
  text-align: center;
  margin-top: 4rem;
}

.eventWrapper
{
  position: relative;
}

.countdown
{
  position: absolute;
  bottom: 30;
  text-align: center;
  left: 30;
  color: red;
  padding: 10px;
  font-size: 2rem;
  margin: 0;
  background-color: white;
  width: 280px;
}

