.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin-top: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.button:hover {
  transform: scale(1.05);
}

/* 🌞 Light Mode */
.light {
  background-color: var(--accent-colour);
  color: #ffffff;
}

/* 🌙 Dark Mode */
.dark {
  background-color: var(--accent-colour);
  color: #ffffff;
}
