.emailInputWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 55px;
  width: 100%;
  gap: 0px;
}

.emailInputWrapper button
{
    transform: translateX(-1px);
}

.emailInputWrapper.disabled {
  opacity: 0.8;
}

.emailInputWrapper input
{
    background-color: white;
    outline: none;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

input:disabled {
  cursor: not-allowed;
}

.arrowButton
{
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 14px;
    font-size: 1.4rem;
}

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #000000;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.8s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingButton {
  cursor: not-allowed;
  opacity: 0.7;
}
