.container {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}

.committee {
  width: 100%;
}

.title {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.ctaText
{
  margin-bottom: 0;
}

.section {
  margin-bottom: 4rem;
}

.committeeTopLine
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  gap: 20px;
}

.sectionTitle {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
}

.card {
  text-align: start;
  border-radius: var(--border-radius);
  background: rgba(255, 255, 255, 0.023);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 20px;
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15);
}

.cardImage {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}

.name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.role {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 0.75rem;
  margin-top: 6px;
}

.socialButton
{
  font-size: 1rem;
  padding: 10px 15px;
  margin-top: 10px;
}

.socialLinks {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.socialLink {
  font-size: 0.85rem;
  text-decoration: none;
}

.loading {
  text-align: center;
}


@media (max-width: 780px) {
  .committeeTopLine
  {
    flex-direction: column;
    align-items: flex-start;
  }
}