:root   
{
    --white: #ffffff;
    --text-colour: #ffffff;
    --secondary-text-colour: #ffffff;
    --background-colour: #161616;
    --accent-colour: #04bcff;
    --footer-background: #ffffff;
    --container-colour: #222222;
    --max-width: 1200px;
    --border-radius: 20px;
    --lime: #8bda94;
    --teal: #5dcad1;
    --blue: #3498db;
}

/* [data-theme="light"] {
    --background-colour: #ffffff;
    --text-colour: #343434;
} */

*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    color: var(--text-colour);
}

h1, h2, h3, h4, h5
{
    font-family: "Source";
    font-size: 3rem;
    font-weight: 700;
}

html
{
    overscroll-behavior: none;
    scroll-behavior: smooth;
    max-width: 100dvw;
    overflow-x: hidden;
    background-color: var(--background-colour);
}

body
{
    margin: 0;
    background-image: url("/src/assets/backgrounds/paper\ texture.png");
    background-size: 200px;
}

*
{
    box-sizing: border-box;
}

.page-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
    overflow: hidden;
}

.page-content
{
    width: 100dvw;
    flex: 1;
    display: flex;
    justify-content: center;
}

.button-container
{
    display: flex;
    gap: 20px;
}

.hs-logo
{
    position: fixed;
    left: 30;
    top: 30;
    filter: brightness(0) invert(1);
    width: 100px;
}

button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    background-color: transparent;
    color: var(--text-colour);
    padding: 0.45rem 1.25rem;
    border: 2px solid var(--white);
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
    width: fit-content;

    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
}

button::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: currentColor;

    mask: url("../../src/assets/misc/arrow.svg") no-repeat center;
    mask-size: contain;

    display: inline-block;
}

button:hover {
    transform: scale(1.05);
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    color: black;
}


input, textarea
{
    color: black;
}

@font-face {
    font-family: "Source";
    src: url("../../public/fonts/SourceCodePro-VariableFont_wght.ttf");
}


@media (max-width: 1700px) {
    .hs-logo
    {
        display: none;
    }
}