:root   
{
    --white: #ffffff;
    --text-colour: #ffffff;
    --secondary-text-colour: #1f1f1f;
    --background-colour: #04bcff;
    --accent-colour: #04bcff;
    --footer-background: #ffffff;
    --container-colour: #88d7ff;
    --max-width: 1200px;
}

/* [data-theme="light"] {
    --background-colour: #ffffff;
    --text-colour: #343434;
} */

*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    color: var(--text-colour);
}

h1, h2, h3
{
    font-weight: bolder !important;
}

html
{
    overscroll-behavior: none;
    scroll-behavior: smooth;
    max-width: 100dvw;
    overflow-x: hidden;
    background-color: var(--background-colour);
}

body
{
    margin: 0;
}

.background-grid
{
    position: absolute;
    background-image: url("/src/assets/backgrounds/pngegg.png");
    background-repeat: repeat;
    z-index: -2;
    filter: brightness(0) invert(1);
    width: 100vw;
    background-size: 80vw;
    height: 100%;
    opacity: 0.4;
}

*
{
    box-sizing: border-box;
}

.page-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    align-items: center;
    overflow: hidden;
}

.page-content
{
    width: 100dvw;
    flex: 1;
}

.button-container
{
    display: flex;
    gap: 20px;
}

button {
    display: inline-block;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    transition: background-color 0.3s;
    outline: 1px solid var(--white);
    transition: transform 0.3s ease;
    z-index: 5;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

input, textarea
{
    color: black;
}

.polaroid-column
{
    left: 0;
    position: absolute;
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
}

.polaroid-column.right
{
    left: auto;
    right: 0;
}

@font-face {
    font-family: "Milker";
    src: url("../../public/fonts/Milker.otf");
}

.teQAzf
{
    max-width: var(--max-width);
    width: 100%;
    margin: 0;
}