.container {
    width: 100%;
    max-width: var(--max-width);
}

.title {
    text-align: start;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.reason {
  margin-bottom: 2rem;
  color: #555;
}

.reason span {
  display: block;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 30px;
}

.label {
  opacity: 0.8;
}

.form input,
.form textarea,
.form select {

}

.form button:hover {
  opacity: 0.85;
}

.btnContainer
{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 10px;
}