.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 90px;
    width: 100%;
    max-width: var(--max-width);
    background-color: var(--background-colour);
    padding-bottom: 20px;
}

.homeImg
{
    border-radius: var(--border-radius);
    width: 100%;
    background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15);
}