.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 50px;
}

/* Divider between sections */
.homePage > *:not(:last-child) {
    position: relative;
    padding-bottom: 50px;
}

.homePage > *:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.246);
}
