.eventCard {
  display: flex;
  flex-direction: row-reverse;
  transition: transform 0.3s ease;
  gap: 20px;
}

.imageWrapper {
  width: 40%;
  overflow: hidden;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: ghostwhite;
}

.logo
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.countdown
{
  margin-bottom: 0;
  color: #ff574b;
}

.content {
  width: 60%;
  box-sizing: border-box;
}

.eventTitle {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.date {
  font-weight: 500;
  font-style: italic;
}

.location {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 0.3rem;
  line-height: 1.5;
}

.bottomLine {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  justify-content: space-between;
}

.sponsors {}

.sponsorTitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.sponsorLogos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 60px;
}

.sponsorLogo {
  width: auto;
  height: 100%;
  width: 150px;
  object-fit: contain;
  opacity: 0.8;
  transition: filter 0.3s, opacity 0.3s;
}

.sponsorLogo:hover {
  filter: none;
  opacity: 1;
}

.buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: flex-start;
  margin-top: 15px;
}

.buttons button
{
  background-color: var(--background-colour);
  color: white;
}