.eventWrapper {
  width: 100%;
  margin-bottom: 2rem;
}

/* Full Event Card */
.eventCard {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding: 20px;

  border-radius: var(--border-radius);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  background: rgba(255, 255, 255, 0.023);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

/* Simple Design Card */
.simpleCard {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  border-radius: var(--border-radius);
  transition: transform 0.2s ease;

  background: rgba(255, 255, 255, 0.023);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

  align-items: center;
  justify-content: space-between;
}

/* Columns for simple card */
.simpleImage {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.simpleDetails {
  flex: 1;
  padding: 0 1rem;
}

.simpleButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Shared styles */
.imageWrapper {
  width: 40%;
  overflow: hidden;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: ghostwhite;
}

.logo {
  width: 100%;
  height: fit-content;
  object-fit: contain;
  z-index: 1;
  max-height: 300px;
}

.countdown {
  margin-bottom: 0;
  color: rgb(240, 91, 91);
}

.content {
  width: 60%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.eventTitle {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.date {
  font-weight: 500;
  font-style: italic;
}

.location {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 0.3rem;
  margin-top: 0;
  line-height: 1.5;
  flex-grow: 1;
}

.sponsors {
  margin-top: 15px;
}


.sponsorLogos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 60px;
}

.sponsorLogo {
  width: auto;
  height: 100%;
  width: 150px;
  object-fit: contain;
  object-position: left;
  opacity: 1;
}


.buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 740px) {
  .eventCard
  {
    flex-direction: column;
  }

  .imageWrapper, .content
  {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1050px) {
  .simpleButtons
  {
    flex-direction: column;
  }
}

@media (max-width: 765px) {
  .simpleCard
  {
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  .simpleDetails
  {
    width: 100%;
    padding: 0;
  }

  .simpleImage
  {
    width: 150px;
    height: 150px;
  }

  .simpleButtons
  {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }
}