.eventCard {
  display: flex;
  border-radius: 16px;
  background: var(--background-colour);
  transition: transform 0.3s ease;
  border-radius: 0px;
}

.imageWrapper {
  width: 50%;
  overflow: hidden;
  padding: 3rem;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: ghostwhite;
}

.arrow1, .arrow2, .arrow3
{
  width: 100px;
  position: absolute;
  z-index: 14;
}

.arrow1
{
  top: 20;
  right: -85;
  transform: rotate(270deg);
}

.arrow2
{
  top: 40;
  right: -40;
  transform: rotate(300deg);
}

.arrow3
{
  top: -30;
  right: -100;
  transform: rotate(230deg);
}

.logo
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.content {
  padding: 1.5rem;
  width: 50%;
  background-color: white;
  margin: 30px;
  box-sizing: border-box;
}

.eventTitle {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: black;
}

.date {
  font-weight: 500;
  font-style: italic;
  color: black;
}

.location {
  margin-bottom: 1rem;
  color: black;
}

.description {
  margin-bottom: 0.3rem;
  line-height: 1.5;
  color: black;
}

.bottomLine {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  justify-content: space-between;
}

.sponsors {}

.sponsorTitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.sponsorLogos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 60px;
}

.sponsorLogo {
  width: auto;
  height: 100%;
  opacity: 0.8;
  transition: filter 0.3s, opacity 0.3s;
}

.sponsorLogo:hover {
  filter: none;
  opacity: 1;
}

.buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
  margin-top: 15px;
}

.buttons button
{
  background-color: var(--background-colour);
  color: white;
}