.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: var(--max-width);
}


.heading {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  margin-top: 30px;
}

.card {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(25% - 1.5rem);
  min-width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  /* Glass effect */
  background: rgba(255, 255, 255, 0.023);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15);
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  width: 100%;
  height: auto;
  padding: 50px;
  aspect-ratio: 1;
  object-fit: contain;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
}

.description {
  font-size: 0.95rem;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.websiteLink {
  text-decoration: none;
  color: var(--accent-colour);
  font-weight: 500;
  transition: color 0.2s;
}

.websiteLink:hover {
  color: var(--accent-colour-dark);
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: end;
  gap: 1rem;
}

.sponsorsTopLine
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.sponsorsText p
{
  margin-bottom: 0;
}