.navbarContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  z-index: 10;
  max-width: 1600px;
}

.leftContainer,
.rightContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.leftContainer {
  justify-content: flex-start;
}

.rightContainer {
  justify-content: flex-end;
  gap: 1rem;
}

.centerContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navLinks {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  width: var(--max-width);
}

.navLink {
  color: var(--text-colour);
  text-decoration: none;
  font-weight: 500;
}

.navItem
{
  transition: transform 0.3s ease;
}

.navItem:hover {
  transform: scale(1.1);
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 50px;
  padding: 10px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.navItem {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 20;
  left: 0;
  background: white;
  padding: 0.5rem 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: all 0.25s ease;
  min-width: 180px;
  z-index: 2000;
}

.navItem:hover .dropdownMenu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdownItem {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  color: black;
  font-weight: 400;
  transition: background 0.2s ease;
  white-space: nowrap;
}

.dropdownItem:hover {
  background: rgba(255, 255, 255, 0.15);
}
