.navbarContainer {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--border-colour);
  z-index: 100;
}

.mlhBanner {
  position: absolute;
  top: 0;
  right: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-colour);
}

@media (max-width: 1740px) {
  .mlhBanner {
    display: none;
  }
}

.navBar {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.rightContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navLinks {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.navItem {
  position: relative;
}

.navLink {
  color: var(--text-colour);
  text-decoration: none;
  font-weight: 500;
  opacity: 0.8;
}

.navLink:hover {
  opacity: 1; 
}

.active {
  background: linear-gradient(90deg, #8bda94, #3498db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  height: 23px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 0;
  min-width: 190px;
  left: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: all 0.25s;
  padding: 10px 0;
  border-radius: var(--border-radius);
}

.navItem:hover .dropdownMenu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdownItem {
  display: block;
  padding: 0.6rem 1rem;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.ticketBtn {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--text-colour);
  cursor: pointer;
}

.mobileControls {
  display: none;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.mobileMenu {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 1rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.mobileMenu.open {
  max-height: 1000px;
  opacity: 1;
  margin-bottom: 30px;
}


.mobileItem {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 1rem;
  flex-wrap: wrap;
}

.mobileItem a
{
  text-decoration: none;
}

.mobileSubItem {
  white-space: nowrap;
}

@media (max-width: 900px) {
  .rightContainer {
    display: none;
  }

  .navBar
  {
    padding-bottom: 0.1rem;
  }

  .mobileControls {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 1370px) {
  .navbarContainer {
    padding: 0 40px;
  }
}

@media (max-width: 480px) {
  .navbarContainer {
    padding: 0 15px;
  }
}
