.navbarContainer {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--border-colour);
  z-index: 100;
}

.navBar {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.rightContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navLinks {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.navItem {
  position: relative;
}

.navLink {
  color: var(--text-colour);
  text-decoration: none;
  font-weight: 500;
}

.active {
  background: linear-gradient(90deg, #8bda94, #3498db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  height: 30px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 0;
  min-width: 190px;
  left: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5px);
  transition: 0.25s;
  padding: 10 0px;
  border-radius: var(--border-radius);
}

.navItem:hover .dropdownMenu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdownItem {
  display: block;
  padding: 0.6rem 1rem;
  color: black;
  text-decoration: none;
  text-wrap: nowrap;
}

.ticketBtn {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}


.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--text-colour);
  cursor: pointer;
}

.mobileMenu {
  display: none;
}

/* Mobile styles */
@media (max-width: 900px) {
  .rightContainer {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: auto;
    padding: 0;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mobileItem a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }

  .mobileSubItem {
    margin-left: 1rem;
    opacity: 0.8;
  }

  .mobileTicketBtn {
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 8px;
    background: white;
    font-weight: 600;
  }
}

@media (max-width: 1370px) {
    .navbarContainer {
        padding: 0 40px;
    }
}

@media (max-width: 480px) {
  .navbarContainer
  {
    padding: 0px 15px;
  }
}