.hero {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 80px;
}

.heroText
{
  font-size: 1.8rem;
  margin-top: 40px;
  margin-bottom: 30px;
}

.background {
  position: relative;
  width: 100%;
  flex: 1;
  background-size: cover;
  background-image: url("../../../assets/backgrounds/MineSocBackground.png");
  background-position: center;
  z-index: 0;
}

.logo {
    width: 100%;
}

.infoBoxes {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    gap: 10px;
    width: 100%;
    z-index: 1;
    padding: 20px 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.logoContainer
{
    position: relative;
    z-index: 1;
    width: 800px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: fit-content;
}

.logoContainer img
{
    width: 100%;
}

.welcomeText
{
    font-size: 1.5rem;
    margin: 0;
    color: var(--white);
}

.infoLeft
{
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.infoRight
{
    width: fit-content;
}

.infoBox iframe {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.infoBox {
  background: rgba(255, 255, 255, 0.099); 
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  padding: 15px 20px;
  border-radius: 8px;
  height: fit-content;
  outline: 1px solid var(--white);
  max-width: 400px;
  font-size: 1rem;
  color: #ffffff; 
}

.mlhBadge {
  display: block;
  position: absolute;
  max-width: 100px;
  min-width: 60px;
  right: 40px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

.mlhBadge img {
  width: 100%;
}

.bear
{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  animation: pop-up 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes pop-up {
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(0px);
  }
}