
.container
{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: var(--max-width);
}

.heading
{
  text-align: start;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}