.footer {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: var(--max-width);
    width: 100%;
}

.container {
    position: relative;
    background-color: var(--footer-background);
    border-top: 1px solid #ffffff58;
    background-size: cover;
    background-position: center;
    color: #000000;
    padding: 4rem 2rem 2rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 180px;
    margin-bottom: 1rem;
    filter: brightness(0);
}

.contact {
    font-size: 0.95rem;
    line-height: 1.6;
    color: black;
}

.contact strong
{
    color: black;
    font-weight: lighter;
}

.contact a {
    text-decoration: underline;
}

.column h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    border-bottom: 2px solid #000000;
    display: inline-block;
    color: black;
    padding-bottom: 0.3rem;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column li {
    margin-bottom: 0.5rem;
}

.column a {
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease;
}

.column a:hover {
    color: #000000;
}

.bottom {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: var(--max-width);
    text-align: start;
    margin-top: 3rem;
    font-size: 0.9rem;
    opacity: 0.8;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .logo {
        margin: 0 auto 1rem;
    }
}
