.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  border-top: 1px solid var(--border-colour);
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  margin-top: 30px;
}

.topRow {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5rem;
}

.newsletter {
  flex-grow: 1;
    max-width: 900px;
}

.newsletter h3 {
  font-size: 2rem;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials h3 {
  font-size: 2rem;
}

.emailInputWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 55px;
}

.newsletter input {
  width: 100%;
  height: 55px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1rem;
}

.emailInputWrapper button {
  outline: none;
  border: none;
  background-color: white;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  font-size: 30px;
  padding-right: 15px;
}

.emailInputWrapper.disabled
{
  opacity: 0.8;
}

.emailInputWrapper input:disabled
{
    cursor: not-allowed;
}

.middleRow {
  max-width: var(--max-width);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

.brandColumn {
    margin-right: 20px;
}

.logo {
  width: 160px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.brandText {
  font-size: 0.9rem;
  opacity: 0.8;
}

.linksColumn {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.linksGroup {
  min-width: 160px;
}

.activeLink {
  opacity: 1;
  background: linear-gradient(90deg, var(--lime), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 4s ease infinite;
  opacity: 1.2;
  filter: brightness(1.3);  
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.linksGroup h4 {
  margin: 0;
  font-size: 1.3rem;
}

.linksGroup .linksContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.linksContainer a {
    text-decoration: none;
    width: fit-content;
}

.bottomRow {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  opacity: 0.7;
  margin-bottom: 30px;
  border-top: 1px solid var(--border-colour);
  padding-top: 40px;
}

.bottomRow a
{
    text-decoration: none;
}

.bottomLinks
{
    display: flex;
    gap: 15px;
}


@media (max-width: 1370px) {
  .topRow
  {
    flex-direction: column;
  }

  .topRow h3
  {
    margin-bottom: 20px;
  }
  
  .container
  {
    padding: 40px 40px;
  }

  .middleRow
  {
    margin-top: 30px;
  }

  .topRow
  {
    gap: 1rem;
  }

  .newsletter
  {
    width: 100%;
    max-width: none;
  }

  .bottomRow
  {
    margin-bottom: 20px;
  }
}

@media (max-width: 1080px) {
  .middleRow
  {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .brandColumn
  {
    display: none;
  }
}

@media (max-width: 710px) {
  .linksColumn
  {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

@media (max-width: 620px) {
  .bottomRow
  {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .container
  {
    padding: 30px 15px;
  }

  .bottomRow
  {
    margin-bottom: 5px;
  }
}