.socialsContainer {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  margin-top: 20px;
}

.socialLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.2s ease, background 0.2s ease;
  color: #ffffff;
  font-weight: 500;
}

.socialLink:hover {
  transform: scale(1.05)
}

.icon {
  font-size: 40px;
}
