
.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
}

.feedbackForm
{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feedbackForm h1 {
  text-align: start;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.feedbackForm textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: transparent;
  resize: vertical;
  margin-bottom: 20px;
  font-size: 1rem;
}

.feedbackForm button {
    background-color: var(--background-colour);
    color: white;
}

.feedbackForm button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.feedbackForm button:hover:not(:disabled) {
  background-color: #0056b3;
}

.feedbackForm .alreadySubmitted {
  text-align: center;
  font-style: italic;
}
