.container {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
}

.heading {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  padding: 1rem;
  width: 100%;
  height: 180px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  transition: transform 0.2s;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.023);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15);
}

.eventDetails
{
  text-align: start;
  width: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

.card button
{
  margin-top: auto;
}

.card img {
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius, 8px);
}

.card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.card p {
  font-size: 0.95rem;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
