.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  height: fit-content;
}

.heading {
  text-align: start;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.faqList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin-top: 30px;
}

.faqItem {
}

.question {
  width: 100%;
  background: transparent;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.0rem;
  font-weight: 600;
  outline: 2px solid var(--border-colour);
  border-radius: var(--border-radius);
}

.question span
{
  color: white;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.5rem;
  opacity: 0;
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid var(--border-colour);
  border-top: none;
  margin: 0px 20px;
  margin-top: 1px;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease-in-out,
    padding 0.4s ease-in-out;
}

.answer.open {
  max-height: 500px;
  opacity: 0.85;
  padding: 1rem 1.5rem 1.25rem;
}
