
.polaroid
{
    position: relative;
    width: auto;
    height: 250;
    transform: translateX(-20%);
}

.polaroidTemplate
{
    width: 100%;
    height: 100%;
    border: 8px solid black;
}

.polaroidImage
{
    position: absolute;
    object-fit: cover;
    left: 0;
    z-index: -1;
    width: 100%;
    background-color: var(--background-colour);
    height: 100%;
}