
.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width);
}

.videoContainer {
  width: 100%;
  overflow: hidden;
}

.videoContainer div
{
    width: 100%;
}

.videoContainer iframe {
  width: 100%;
  aspect-ratio: 16 / 9; /* maintains 16:9 ratio */
  border: 0;
  display: block;
}

.thumbnailWrapper {
  position: relative;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  display: block;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  opacity: 0.7;
}
