.container {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  flex-direction: column;
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  margin-top: 20px;
}

.heading
{
  text-align: start;
  width: 100%;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.videoGrid iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    0 8px 24px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
  .videoGrid {
    grid-template-columns: 1fr;
  }
}
