
.container
{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.videoContainer {
  width: 100%;
  max-width: var(--max-width);
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 80px;
}

.videoContainer div
{
    width: 100%;
}

.videoContainer iframe {
  width: 100%;
  aspect-ratio: 16 / 9; /* maintains 16:9 ratio */
  border: 0;
  display: block;
}
